@import './base.css';

#app {

  /*
  margin: 0 auto;
  padding: 2rem;
*/
  font-weight: normal;
}

a{
  color: #5fcde4;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
h1{
  color: #FF8C00;
}

@media (hover: hover) {
  a:hover {
    color: #FF8C00;
    font-size: 28px;
  }
}

