html,
body {
  width: 100%;
  height: 100%;
  
}

body {
    background-image: url("/background.jpg");
    //background-color: #222034;
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    image-rendering: pixelated;
}

.container {
  width: 100%;
  height: 100%;
  
}

